/*===== paleta de colores =========*/
.color1_target {
	background-color: #ecebe6;
}

.color2_target {
	background-color: #d7e1c8;

}

.color3_target {
	background-color: #94c7b6;
	color: white;
}

.color4_target {
	background-color: #403c33;
	color: white;
}

.color5_target {
	background-color: #d4643c;
	color: white;
}

.color6_target {
	background-color: #f8f8f8;
}

/*=================== navbar =========================*/

/*Cambia el tamaño del logo del navbar*/
#logo-navbar {
	width: 2em;
}

/*============ imagen navbar =============*/
#profile-image {
	margin: 0em;
	padding: 0em;
	display: inline;
	max-width: 2em;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Baloo', cursive;
}

body {
	background-image: url('../../images/camarero/barra.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #eae8e9;
	font-family: 'Hind', sans-serif;
}

#background-content {
	background-color: rgba(255, 255, 255, 0.8);
}

/*======== Link ========*/
a{
	color:inherit;
	text-decoration: none;
}

a:hover{
	color: inherit;
	text-decoration: none;
}


th{
	text-align: center;
}

td{
	font-family: Baloo,cursive;
}

.icon1 {
	width: 1em;
	margin: 0.5em;
	padding: 0em;
}

#listado{
	padding: 5px;
}
