/*===== paleta de colores =========*/
.color1_target {
	background-color: #ecebe6;
}

.color2_target {
	background-color: #d7e1c8;

}

.color3_target {
	background-color: #94c7b6;
	color: white;
}

.color4_target {
	background-color: #403c33;
	color: white;
}

.color5_target {
	background-color: #d4643c;
	color: white;
}

.color6_target {
	background-color: #f8f8f8;
}

/*============= switch =========================*/
/* The switch - the box around the slider */
.switch {
	position: relative;
	/*display: inline-block;*/
	width: 3em;
	height: 1.5em;
	display: none;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1em;
	width: 1em;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(1.5em);
	-ms-transform: translateX(1.5em);
	transform: translateX(1.5em);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/*=================== navbar =========================*/

/*Cambia el tamaño del logo del navbar*/
#logo-navbar {
	width: 2em;
}

/*============ imagen navbar =============*/
#profile-image {
	margin: 0em;
	padding: 0em;
	display: inline;
	max-width: 2em;
}

/*========== Presentacioón de mesas ==============*/
.target-margin {
	margin-bottom: 1em;
	margin-top: 1em;
}

/*==== Tamaños de los iconos =====*/
.icon {
	width: 3em;
	margin: 0.5em;
	padding: 0em;
}

.icon1 {
	width: 1em;
	margin: 0.5em;
	padding: 0em;
}

.icon2 {
	width: 1.5em;
	margin: 0.5em;
	padding: 0em;
}

.icon3 {
	width: 2.5em;
	margin: 0em;
	padding: 0em;
}

.icon4 {
	width: 4em;
	margin: 0em;
	padding: 0em;
}

/*============= Opciones mesa elegida ============*/
#nuevo_pedido {
	display: none;
}

/*============ Margen presentacion productos ========*/
#detalles, #menu-lateral {

}

h1, h2, h3, h4, h5, h6{
	font-family: 'Baloo', cursive;
}

body {
	background-image: url('../../images/camarero/barra.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #eae8e9;
	font-family: 'Hind', sans-serif;
}

#background-content {
	background-color: rgba(255, 255, 255, 0.8);
}

/*======== Link ========*/
a{
	color:inherit;
	text-decoration: none;
}

a:hover{
	color: inherit;
	text-decoration: none;
}
/*=======  Presentación iconos tipo_producto en nuevo pedido ===== */
#entrantes, #platos, #postres, #bebidas, #menus {
	display: inline-block;
}

#img1, #img2, #img3, #img4, #img5 {
	display: inline-block;
	margin: 1em;
}

#titulo-nuevo-pedido,#comensales,.img-mesa,#tipo-productos{
	margin-top: -20px;
}

#numero-mesa{
	margin-top: -5px;
}

#platos,#menu-i{
	margin: 0px;
	padding: 3px;
}
th{
	text-align: center;
}

#dialog-pedido-ok, #dialog-pedido-error,#pedido-realizado{
	display: none;
}

/*Colores estado ordenes*/

.estado-2{
	background-color: #6eaec7;
}
.estado-3{
	background-color: #93EE85;
}
.estado-4{
	background-color: #dbd8d8;
}

.estado-5{
	background-color: #ee4534;
}


#ids-productos{
	display: none;
}

#dialog-cancelar-ok,#dialog-cancelar{
	display: none;
}


