.color1_target {
	background-color: #ecebe6;
}

.color2_target {
	background-color: #d7e1c8;

}

.color3_target {
	background-color: #94c7b6;
	color: white;
}

.color4_target {
	background-color: #403c33;
	color: white;
}

.color5_target {
	background-color: #d4643c;
	color: white;
}

.color6_target {
	background-color: #f8f8f8;
}

.icon {
	width: 1.25em;
	margin: 0em;
	padding: 0em;
}

.icon2 {
	width: 2em;
	margin: 0em;
	padding: 0em;
}

h1, h2, h3, h4, h5 {
	font-family: 'Baloo', cursive;
}

body {
	background-image: url('../../images/admin/office.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #eae8e9;
	font-family: 'Hind', sans-serif;
}

#background-content {
	background-color: rgba(255, 255, 255, 0.8);

}

.target-margin {
	margin-bottom: 1em;
	margin-top: 1em;
}

a:hover {
	text-decoration: none;
}

.btn-success:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #449d44;
}

.table-hover > tbody > tr:hover {
	background-color: #ffd9cb;
}

th.header {
	cursor: pointer;
	background-image: url('../../js/tablesorter/img/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
}

th.headerSortUp {
	background-image: url('../../js/tablesorter/img/asc.gif');
}

th.headerSortDown {
	background-image: url('../../js/tablesorter/img/desc.gif');

}

th {
	padding-right: 2em !important;
	text-align: center;
}

table {
	text-align: center;
}

.buscador {
	background-image: url('../../restaurant-icons/033-loupe.png'); /* Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	padding-left: 40px; /* Add some padding */
	background-size: 20px;
	background-position-y: 7px;
}

.col-xs-12 {
	margin-bottom: 5px;
}

@media (min-width: 0px) {
	.navbar-icon {
		margin: 0em;
		padding: 0em;
		display: inline;
		max-width: 2em !important;
	}
}

@media (min-width: 768px) {
	.navbar-icon {
		margin: 0em;
		padding: 0em;
		display: inline;
		max-width: 2.5em !important;
	}
}

#title-brand {
	font-family: 'Lobster', cursive;
	font-size: 20px;
	color: #d4643c;
}

.profile-image-list {
	width: 4em;
}

table td {
	vertical-align: middle !important;
	margin: auto;
}

#content {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 3em 3em 3em 3em;
	margin-bottom: 2em;
	margin-top: 2em;
}

#return-list {
	background-color: #d4643c;
	color: white;
}

#return-list:hover {
	background-color: #e87045;
	color: white;
}

.clicable{
	cursor:pointer;
}

#errors{
	margin: 1em;
}
