.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}
body{
	background-image:url('../../images/login/background_login.jpg');
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #ebad60;
	font-family: 'Hind', sans-serif;
}
#content{
	background-color: rgba(255, 255, 255, 0.75)	;
	padding: 0em 3em 3em 3em;
	margin-bottom:10em;
}
h1{
	color: white;
	font-family: 'Lobster', cursive;
	/*-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;*/
}

/*#button_fscreen{
	margin: 1em;
	position: absolute;
	right: 0;
}*/
/*#button_fscreen b{
	font-family: 'Hind', sans-serif !important;
}*/

#errors{
	margin: 1em;
}


.icon {
	width: 1.75em;
	margin: 0em;
	padding: 0em;
}
.icon2 {
	width: 2.25em;
	margin: 0em;
	padding: 0em;
}
.easyorder{
	color: #d4643c;

}

#input-icon1 {
	background-image: url('../../restaurant-icons/045-id.png'); /* Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	padding-left: 40px; /* Add some padding */
	background-size: 20px;
	background-position-y: 7px;
}

#input-icon2 {
	background-image: url('../../restaurant-icons/046-key.png'); /* Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	padding-left: 40px; /* Add some padding */
	background-size: 20px;
	background-position-y: 7px;
}

input::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 3;
}
